{% extends "base/base.html" %}
{% load staticfiles %}
{% block head %}
<style>
.card {
  cursor: pointer;
}
</style>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h4>Can I import my data?</h4>

        <p>Do you have some cool data, images or text, that you want to add to DocFish? Currently we are supporting import from <a href="https://www.ncbi.nlm.nih.gov/pmc/tools/openftlist/" target="_blank">Pubmed Central Open Access Subset,</a> or you can import images ang text from your local computer that conform to the <a href="https://www.github.com/vsoch/wordfish-standard" target="_blank">DocFish standard.</a> Do you have an idea for a project, or a specific kind of data import, that you'd like to see supported? Want to collaborate on a project that uses DocFish? Please reach out!</p>

 <a href="http://srcc.stanford.edu" target="_blank">Research Computing</a> if you have any questions.</p>

	<div style="margin-top:50px">
            <div class="card" id="vcard">
		<div class="card-block">
		<h4 class="card-title">Vanessa Sochat</h4>
		<p class="card-text">Research Software Engineer</p>
                <p class="card-text">
		    <a target="_blank" href="https://vsoch.github.io/"><i class="fa fa-home"></i></a>
		    <a target="_blank" href="http://www.twitter.com/vsoch"><i class="fa fa-twitter"></i></a>
		    <a target="_blank" href="http://www.github.com/vsoch"><i class="fa fa-github"></i></a>
                </p>
	    </div>
	</div>
    </div>           
</div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#vcard").click(function(){
        document.location = 'https://vsoch.github.io/rawr'
    })
})
</script>
{% endblock %}
