{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
{% endblock %}
{% block css %}
<style>
.som_image {
  max-width:100%;
  min-width:100%;
}
.button {
    cursor: pointer;
}
.button:hover{
    color: purple;
}
</style>
{% endblock %}

{% block content %}
{% include 'messages/message.html' %}
{% include 'base/loader.html' %}

<div class="row">
    <div class="col-md-6">
        <img class="som_image" src="{{ image.get_url | safe }}">
    </div>
    <div class="col-md-6">
        <form id="save_description" class="form-horizontal" method="post" action="{% url 'describe_image' cid=collection.id uid=next_image.id tid=team.id %}">
             <input type="hidden" name="image_id" id="{{ image.id }}" value="{{ image.id }}">  
             <input type="hidden" name="team_id" id="{{ team.id }}" value="{{ team.id }}">  
             <div class="form-group">
                 <h3>What do you see?</h3>
                 <textarea class="form-control" rows="15" id="description" name="description">{% if description %}{{ description.description }}{% endif %}</textarea>
             </div>
            {% csrf_token %}
        </form>

        <div>
            {% include "social/collaborate_button.html" %}
            <button id="flag_button" class="btn btn btn-xs btn-danger">Bad</button>
            <button class="btn btn-info" id="submit" style="margin-left:0px">Save</button>
            <button id="skip_button" class="btn btn-info">>></button>
        </div>
 
    </div>
</div>
<div class="row">
    <div class='col-md-12'>
             <span style="color:#CCC">{{ image.uid }}</span>
    </div>
</div>
{% include "collaborate/return_to_portal.html" %}
{% endblock %}


{% block scripts %}
<script src="{% static "js/cookie-token.js" %}"></script>
<script type='text/javascript'>
$(function() {

   $("#submit").click(function(){
       $("form").submit();
   });
 
    $("#skip_button").click(function(){
        document.location = "{% url 'describe_image' cid=collection.id uid=next_image.id tid=team.id %}"   
    });


   // Flag a small or bad image
   function flagImage() {

        $.ajax({
            url : "{% url 'flag_image' image.id %}", // the endpoint
            type : "POST", // http method

            success : function(json) {
                console.log(json);
                document.location = "{% url 'describe_image' cid=collection.id uid=next_image.id tid=team.id %}"   
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
         });
    }

   $("#flag_button").click(function(){
      setTimeout(function(){
           flagImage();
      },500)
   })




})
</script>
{% endblock %}
