{% extends "base/base.html" %}
{% load dictionary_extras %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
{% include 'messages/message.html' %}
<div class="row">

    <!-- Snack Details -->
    <div class="col-md-7">
        <p class="alert alert-info" id="snack-status">
                 {% if snack.active %}
                 This snack is active.  
                 {% else %}
                 This snack is disabled
                 {% endif %}
        </p>

            {% if snack not in snackbox.snacks.all %}
            <button style="max-width:100px;cursor:pointer" id="update_snack_button" status="add" type="button" class="btn btn-primary btn-sm">Add Snack</button>
            {% else %}
            <button style="max-width:100px;cursor:pointer" id="update_snack_button" type="button" status="remove" class="btn btn-primary btn-sm">Remove Snack</button>
            {% endif %}

            <a href="{{ snack.url }}" target="_blank">
            <button style="max-width:100px;cursor:pointer" type="button" class="btn btn-primary btn-sm">Learn <i style='cursor:pointer' class="fa fa-external-link-square"></i></button></a>
            

            {% if request.user.is_superuser %}
            {% if snack.active %}
            <button style="max-width:100px;cursor:pointer" id="active_snack_button" type="button" status="disable" class="btn btn-primary btn-sm">Disable Snack</button>
            {% else %}
            <button id="active_snack_button" style="max-width:100px;cursor:pointer"  type="button" status="enable" class="btn btn-primary btn-sm">Enable Snack</button>
            {% endif %}
            {% endif %}

  </div>

    <div class="col-md-4">
        <div class="card card-block" >
             <img width="250px" src="{{ snack.image.url }}" style="position:relative;top:-5px;border-radius:35px; padding-right:20px;margin-right:15px"/>
         <br><h4 style='text-align:right;color:666'>{{ snack.name }}</h4>
        </div>
</div>


{% endblock %}
{% block scripts %}
<script src="{% static "js/cookie-token.js" %}"></script>
<script>
$(document).ready(function() {
 
    // Functions to add and remove snacks
    function addSnack() {
        $.ajax({
            url : "{% url 'add_snack' snack.id %}",
            type : "POST",
            success : function(json) {
                 console.log(json);
                 $("#update_snack_button").attr('status','remove')
                 $("#update_snack_button").text('Remove Snack')
            }
         });
    }

    // Functions to add and remove snacks
    function disableSnack() {
        $.ajax({
            url : "{% url 'disable_snack' snack.id %}",
            type : "POST",
            success : function(json) {
                 console.log(json);
                 $("#active_snack_button").attr('status','enable')
                 $("#active_snack_button").text('Enable Snack')
                 $("#update_snack_button").hide()
                 $('#snack-status').text('This snack is disabled.')
            }
         });
    }

    function enableSnack() {
        $.ajax({
            url : "{% url 'enable_snack' snack.id %}",
            type : "POST",
            success : function(json) {
                 console.log(json);
                 $("#active_snack_button").attr('status','disable')
                 $("#active_snack_button").text('Disable Snack')
                 $('#snack-status').text('This snack is active.')
                 $("#update_snack_button").show()
            }
         });
    }

    function removeSnack() {
        $.ajax({
            url : "{% url 'remove_snack' snack.id %}",
            type : "POST",
            success : function(json) {
                console.log(json)
                 $("#update_snack_button").attr('status','add')
                 $("#update_snack_button").text('Add Snack')
            }
         });
    }


    $('#update_snack_button').click(function(){
        if ($(this).attr('status')=='add'){
             addSnack();
         } else{
             removeSnack();
         }
    })

    $('#active_snack_button').click(function(){
        if ($(this).attr('status')=='enable'){
             enableSnack();
         } else{
             disableSnack();
         }
    })

    // Enable tooltips
    $('[data-toggle="tooltip"]').tooltip();

});

</script>
{% endblock %}
