{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}
{% block css %}
<link href="{% static "css/select2.min.css" %}"/>
{% endblock %}
{% block content %}
{% include 'messages/message.html' %}
{% include 'base/loader.html' %}
<div class="row">
    <div class="col-md-12">
        <h5>Add Collections to Team <a href="{{ team.get_absolute_url }}"> {{ team.name }}</a></h5>
            <main>
                <div>
                     {% if request.user == team.owner %}
                     {% if team.contender_collections %}
                     <form  class="form-horizontal" method="post" action="{% url 'add_team_collections' team.id %}" >
                         <select class="form-control" multiple name="collection_ids">
                             {% for coll in team.contender_collections %}                 
                             <option value="{{ coll.id }}">{{ coll.name }}</option>
                             {% endfor %}
                     </select>                     
                     {% csrf_token %}
                     <button class="btn btn-secondary" type="submit">Submit</button>
                     </form>

                     {% else %}
                     <p>DocFish doesn't have any collections yet! Why don't you <a href="{% url 'new_collection' %}">make one?</a>
                     {% endif %}
                     {% else %}
                     <p class="alert alert-danger">How did you get here? You aren't allowed to do this.</p>                   
                     {% endif %}
            </main>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/select2.min.js" %}"></script>
{% endblock %}
