{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load dictionary_extras %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
{% endblock %}
{% block css %}

<style>
#som_image{ 
    max-width:100%; 
}
.active {
  background-color:#0275d8 !important;
  border: none !important;
}
</style>
{% endblock %}

{% block content %}
{% include 'messages/message.html' %}
{% include 'base/loader.html' %}

<div class="row">
    <div class="col-md-6">
        <img id="som_image" src="{{ image.get_url | safe }}">
    </div>
    <div class="col-md-6">

        {% for name,labels in allowed_annotations.items %}
            <fieldset style="border:dashed 1px;margin-bottom:10px">
                <legend style="width:0%;font-size:1em;margin-bottom:0px"><span style="background-color:white">{{ name }}</span></legend>
                <div class="btn-group" data-toggle="buttons">
                    {% for label in labels %}
                        {% if name in annotations and annotations|access:name == label %}
                        <label class="btn btn-secondary annotate-button active">
                        {% else %}
                        <label style="border:none;" class="btn btn-secondary annotate-button">                    
                        {% endif %}
                        <input class="annotate-button" type="radio" name="{{ name }}||{{ label }}" id="{{ label }}" autocomplete="off"> {{ label }}
                        </label>
                    {% endfor %}
                 </div>
             </fieldset>
        {% endfor %}

        <div class="button-group">
            <button id="skip_button" class="btn btn-info"> >> </button>
            <button id="flag_button" class="btn btn btn-xs btn-danger">Mark as Bad</button>
            <a href="#" data-toggle="tooltip" data-placement="right" title="If the image is small or blurry to make it not useful, mark it as bad."><i id="flag_info" class="fa fa-info-circle"></i></a>

        </div>

        
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="padding-left:60px">
             <span style="color:#CCC">{{ image.uid }}</span>
        </div>
    </div>
</div>
{% include "collections/return_to_collection_fixed.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static "js/cookie-token.js" %}"></script>
<script type='text/javascript'>
$(function() {

    // Left and right arrow keys navigate as well
    $(document).keydown(function(e) {

        if (e.which == 37) { 
            history.back();
            e.preventDefault();
            return false;
         }
        
        if (e.which == 39) { 
           {% if team %}
           document.location = "{% url 'collection_annotate_image' collection.id team.id %}"
           {% else %}
           document.location = "{% url 'collection_annotate_image' collection.id %}"
           {% endif %}
           e.preventDefault();
           return false;
        }
    });

    // Function to push an annotation change
    function pushAnnotation() {

        // Use promises to ensure that data is serialized before sending to server
        var promise = new Promise(function(resolve, reject) {
            var annotations = JSON.stringify($("#update_image_annotation").serializeArray())
            return resolve(annotations);
            
        }).then(function(annotations){
            console.log(annotations);

            {% if team %}
            var team_id = "{{ team.id }}"
            {% endif %}

            $.ajax({
                url : "{% url 'update_image_annotation' collection.id image.id %}", // the endpoint
                type : "POST", // http method
                {% if team %}
                data : { annotations: annotations,
                         team_id: team_id }, // data sent with the post request
                {% else %}
                data : { annotations: annotations }, // data sent with the post request
                {% endif %}
                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
             });

        })
    }

    // Function to clear annotations
    function clearAnnotations() {

        {% if team %}
        var team_id = "{{ team.id }}"
        {% endif %}

        $.ajax({
            url : "{% url 'clear_image_annotations' collection.id image.id %}", // the endpoint

            {% if team %}
            data: {team_id:team_id },
            {% endif %}

            type : "POST", // http method

            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                     console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
         });
    }


   $(".annotate-button").click(function(){
       if ($(this).hasClass('active')){
           $(this).addClass('active');
       } else {
          $(this).removeClass('active');
       }
        setTimeout(function(){
             pushAnnotation();
        },500)
   })
 
  // On click, clear annotations
    $("#clear_button").click(function(){
        setTimeout(function(){
             clearAnnotations();
        },500)
        $('input:radio').attr('checked',false)
        $('.annotate-button').removeClass('active');
    });


   $("#skip_button").click(function(){
       {% if team %}
       document.location = "{% url 'collection_annotate_image' collection.id team.id %}"
       {% else %}
       document.location = "{% url 'collection_annotate_image' collection.id %}"
       {% endif %}

   });



   // Flag a small or bad image
   function flagImage() {

        $.ajax({
            url : "{% url 'flag_image' image.id %}", // the endpoint
            type : "POST", // http method

            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                {% if team %}
                document.location = "{% url 'collection_annotate_image' collection.id team.id %}"
                {% else %}
                document.location = "{% url 'collection_annotate_image' collection.id %}"
                {% endif %}
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
         });
    }

   $("#flag_button").click(function(){
      setTimeout(function(){
           flagImage();
      },500)
   })

    // Enable tooltips
    $('[data-toggle="tooltip"]').tooltip();


})
</script>
{% endblock %}
