{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
{% endblock %}
{% block css %}
<style>
.som_text {
  text-rendering: optimizeLegibility;
  border-radius:5px;
  margin-top:5px;
  padding:0px 20px 0px 20px;
  font-size:16px;
  line-height:1.5;
}
pre {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}
article-meta {
  display:none;
}
journal-meta {
  display:none;
}
ref-list {
 display:none;
}
.loggy:not(:empty) {
  padding: 5px;
  color: #000;
}
.loggy {
  list-style: none;
}
.loggy li {
  padding:5px;
}
</style>
{% include "style/color_picker.html" %}
{% endblock %}

{% block content %}
{% include 'messages/message.html' %}
{% include 'base/loader.html' %}

<div class="row">
    <div class="col-md-12">
         <span id="tools"></span>
         <span style="float:right;margin-top:20px">
             <button id="clear_button" class="btn btn-xs btn-secondary">Clear</button>
             <button id="save_button" class="btn btn btn-xs btn-secondary">Save</button>
             <button id="skip_button" class="btn btn btn-xs btn-secondary">>></button>
             <button id="flag_button" class="btn btn btn-xs btn-danger">Mark as Bad</button>
            <a style="cursor:pointer" data-toggle="tooltip" data-placement="right" title="If the text is missing, which can be the case for older articles, you should mark it as bad."><i id="flag_info" class="fa fa-2x fa-info-circle"></i></a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-9 color-picker"></div>
</div>
<div class="row">
    <div class="col-md-12">

        {% if markup.locations %}
            {% if markup.locations.text|length > 0 %}
            <p class="som_text" style="padding-bottom:20px"><pre class="som_highlight">{{ markup.locations.text | safe  }}</pre></p>
            {% else %}
                {% if text.is_xml %}
                <p class="som_text" style="padding-bottom:20px"><pre class="som_highlight">{{ text.get_text | safe  }}</pre></p>
                {% else %}
                <p class="som_text som_highlight" style="padding-bottom:20px">{{ text.get_text }}</p>
                {% endif %}
            {% endif %}
        {% else %}        
            {% if text.is_xml %}
            <p class="som_text" style="padding-bottom:20px"><pre class="som_highlight">{{ text.get_text | safe  }}</pre></p>
            {% else %}
            <p class="som_text som_highlight" style="padding-bottom:20px">{{ text.get_text }}</p>
            {% endif %}
        {% endif %}

    </div>
</div>

<div class="row">
    <div class="col-md-3" style="margin-top:5px">
        <span style="color:#CCC">{{ text.uid }}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <div><ul class="loggy"></ul></div>
    </div>
</div>

</div>
{% include "collections/return_to_collection.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static "js/ColorPicker.js" %}"></script>
<script src="{% static "js/TextHighlighter.js" %}"></script>
<script src="{% static "js/jquery.textHighlighter.js" %}"></script>
<script src="{% static "js/cookie-token.js" %}"></script>
<script type="text/javascript">
$(function() {
    // Left and right arrow keys navigate as well
    $(document).keydown(function(e) {

        if (e.which == 37) { 
            history.back();
            e.preventDefault();
            return false;
         }

        // prevent pressing enter
        if(e.which == 13) {
           e.preventDefault();
           return false;
        }
        
        if (e.which == 39) { 
           document.location = "{% url 'collection_markup_text' collection.id %}"
           e.preventDefault();
           return false;
        }
    });

   // We will save a list of highlights
   {% if markup.locations|length > 0 %}
   var highlights = [{{ markup.locations.markups | safe }}]
   {% else %}
   var highlights = []
   {% endif %}


   var loggy = $(".loggy");
   function updateHighlights(text,bgcolor,startOffset,endOffset,timestamp,descriptor){
      loggy.append("<li style='background-color:" + bgcolor + ";background:" + bgcolor +"'>" + text + "</li>")
      // Add the new highlight to our list
      record = {'timestamp': timestamp,
                'color': bgcolor,
                'text': text,
                'startOffset': startOffset,
                'endOffset': endOffset,
                'label': descriptor }
      highlights.push(record);
   }


   // We will save a list of highlights
   {% if markup.locations|length > 0 %}
       {% for hl in markup.locations.markups %}
       updateHighlights("{{ hl.text }}","{{ hl.color }}",{{ hl.startOffset }},{{ hl.endOffset }},{{ hl.timestamp }},{{ hl.label}})
       {% endfor %}
   {% endif %}

   var colors = new ColorPicker(document.querySelector('.color-picker')); 
   var context = $(".som_highlight")[0];
   var hltr = new TextHighlighter(context, {
        onBeforeHighlight: function (range) {
            return true;
        },
        onAfterHighlight: function (range, hlts) {
            var bgcolor = $('.color-picker').find('.selected').css('background-color');
            var descriptor = $('.selected').text();
            updateHighlights(hlts[0].innerHTML,
                             bgcolor,
                             range.startOffset,
                             range.endOffset,
                             $(hlts[0]).attr('data-timestamp'),
                             descriptor)
        },
        onRemoveHighlight: function (hlt) {
            return true;
        }
   });

    function pushMarkup(markup,text) {
        $.ajax({
            url : "{% url 'update_text_markup' cid=collection.id uid=text.id %}", // the endpoint
            type : "POST", // http method
            data : { markup: markup,
                     text: text}

            success : function(json) {
                console.log(json); // log the returned json to the console
                $("#message").text("Your markup has been saved!")
                $("#message").show()
            },

            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
         });
    }


   $("#save_button").click(function(){
       var promise = new Promise(function(resolve, reject) {
           var serialized = JSON.stringify(highlights);
           var text = $(".som_highlight").html()
           result = {"text":text,'markup':serialized}     
           return resolve(result);
        }).then(function(result) {
             pushMarkup(result.markup,result.text)
        })
   })


   colors.onColorChange(function (color) {
       hltr.setColor(color);
   });

   $("#clear_button").click(function(){
      hltr.removeHighlights();
   })

   $("#skip_button").click(function(){
       document.location = "{% url 'collection_markup_text' collection.id %}"
   });

   // Flag a small or bad image
   function flagText() {

        $.ajax({
            url : "{% url 'flag_text' text.id %}", // the endpoint
            type : "POST", // http method

            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                document.location = "{% url 'collection_markup_text' collection.id %}"
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
         });
    }

   $("#flag_button").click(function(){
      setTimeout(function(){
           flagText();
      },500)
   })

});
</script>
{% endblock %}
