{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
{% endblock %}
{% block css %}
<style>
.som_text {
  text-rendering: optimizeLegibility;
  border-radius:5px;
  padding:5px;
  font-size:16px;
  line-height:1.5;
}
article-meta {
 display:none
}
journal-meta {
 display:none;
}
ref-list{
 display:none;
}
abstract{
 display:block;
}

</style>
{% endblock %}
{% block content %}
{% include 'messages/message.html' %}
{% include 'base/loader.html' %}

<div class="row">
    <div class="col-md-6">
        {% if text.is_xml %}
        <p class="som_text">{{ text.get_text | safe  }}</p>
        {% else %}
        <p class="som_text">{{ text.get_text }}</p>
        {% endif %}
    </div>
    <div class="col-md-6" style="padding-top:40px">
        <div id="description_box">
        <form id="save_description" class="form-horizontal" method="post" action="{% url 'describe_text' collection.id %}">
             <input type="hidden" value="{{ text.id }}" name="text_id"></input>
             <div class="form-group">
                 <textarea class="form-control" rows="100" id="description" name="description">{{ description.description }}</textarea>
             </div>
            {% csrf_token %}
        </form>
        <div>
            <button id="flag_button" class="btn btn btn-xs btn-danger">Bad</button>
            <a style="cursor:pointer" data-toggle="tooltip" data-placement="right" title="For some older articles, only metadata is provided and the text appears empty. You should mark these as bad."><i id="flag_info" class="fa fa-2x fa-info-circle"></i></a>
            <button class="btn btn-info" id="submit" style="margin-left:0px">Submit</button>
            <button id="skip_button" class="btn btn-info">>></button>
        </div>
    </div>
</div>
<div class="row">
    <div class='col-md-12'>
         <span style="color:#CCC">{{ text.uid }}</span>
    </div>
</div>

{% include "collections/return_to_collection_fixed.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static "js/cookie-token.js" %}"></script>
<script src="{% static "js/jquery.sticky.js" %}"></script>
<script type='text/javascript'>
$(function() {

   $("#submit").click(function(){
       $("form").submit();
   });
 
    $("#description_box").sticky({topSpacing:20});


    $("#skip_button").click(function(){
       document.location = "{% url 'collection_describe_text' collection.id %}"
    });

   // Flag a small or bad image
   function flagText() {

        $.ajax({
            url : "{% url 'flag_text' text.id %}", // the endpoint
            type : "POST", // http method

            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                document.location = "{% url 'collection_describe_text' collection.id %}"
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
         });
    }

   $("#flag_button").click(function(){
      setTimeout(function(){
           flagText();
      },500)
   })


})
</script>
{% endblock %}
